# Core Data Handling
pandas
numpy

# EDA & Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn

# Dev Tools
ipykernel
jupyter
python-dotenv

# GitHub Actions (testing and linting support, optional)
pytest
flake8

# For WoE/IV
xverse 
woe 
scorecardpy