# Core Data Handling
pandas
numpy
sidetable

# EDA & Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
mlflow

# Model Interpretability
shap
lime
# Dev Tools
ipykernel
jupyter
python-dotenv

# GitHub Actions (testing and linting support, optional)
pytest
flake8

# # For WoE/IV
xverse 
woe 
scorecardpy
optbinning

tqdm # added for progress bars